In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from IPython import get_ipython
import warnings
warnings.filterwarnings('ignore')

In [5]:
data = pd.read_csv('adults.txt')

In [6]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
data.tail()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [8]:
data.shape

(32561, 15)

In [9]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [10]:
data.duplicated().sum()

24

In [11]:
data = data.drop_duplicates()

In [12]:
data.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32537 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32537 non-null  int64
 1   workclass        32537 non-null  object
 2   fnlwgt           32537 non-null  int64
 3   education        32537 non-null  object
 4   educational-num  32537 non-null  int64
 5   marital-status   32537 non-null  object
 6   occupation       32537 non-null  object
 7   relationship     32537 non-null  object
 8   race             32537 non-null  object
 9   gender           32537 non-null  object
 10  capital-gain     32537 non-null  int64
 11  capital-loss     32537 non-null  int64
 12  hours-per-week   32537 non-null  int64
 13  native-country   32537 non-null  object
 14  income           32537 non-null  object
dtypes: int64(6), object(9)
memory usage: 2.9+ MB

In [14]:
data.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,32537.000000,3.253700e+04,32537.000000,32537.000000,32537.000000,32537.000000
mean,38.585549,1.897808e+05,10.081815,1078.443741,87.368227,40.440329
std,13.637984,1.055565e+05,2.571633,7387.957424,403.101833,12.346889
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.369930e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [15]:
data.nunique()

age                   73
workclass              9
fnlwgt             21648
education             16
educational-num       16
marital-status         7
occupation            15
relationship           6
race                   5
gender                 2
capital-gain         119
capital-loss          92
hours-per-week        94
native-country        42
income                 2
dtype: int64

In [16]:
data = data.drop(['fnlwgt','educational-num'],axis=1)
col_names = data.columns
for c in col_names:
    data = data.replace("?",np.NaN)
data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))

In [17]:
from sklearn import preprocessing

In [19]:
# from sklearn import preprocessing
# le = preprocessing.LabelEncoder()

In [25]:
data.replace(['Divorced','Married=AF-spouse','Married-civ-spouse','Married-spouse-absent','Never-married','Seperated','Widowed'],['divorced','married','married','married','not-married','not-married','not-married'],inplace=True)
category_col = ['workclass','race','education','marital-status','occupation','gender','native-country','income']
le = preprocessing.LabelEncoder()
mapping_dict = {}
for col in category_col:
    data[col] = le.fit_transform(data[col])
    le_name_mapping = dict(zip(le.classes_,le.transform(le.classes_)))
    mapping_dict[col] = le_name_mapping
print(mapping_dict)

{'workclass': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8}, 'race': {' Amer-Indian-Eskimo': 0, ' Asian-Pac-Islander': 1, ' Black': 2, ' Other': 3, ' White': 4}, 'education': {' 10th': 0, ' 11th': 1, ' 12th': 2, ' 1st-4th': 3, ' 5th-6th': 4, ' 7th-8th': 5, ' 9th': 6, ' Assoc-acdm': 7, ' Assoc-voc': 8, ' Bachelors': 9, ' Doctorate': 10, ' HS-grad': 11, ' Masters': 12, ' Preschool': 13, ' Prof-school': 14, ' Some-college': 15}, 'marital-status': {' Divorced': 0, ' Married-AF-spouse': 1, ' Married-civ-spouse': 2, ' Married-spouse-absent': 3, ' Never-married': 4, ' Separated': 5, ' Widowed': 6}, 'occupation': {' ?': 0, ' Adm-clerical': 1, ' Armed-Forces': 2, ' Craft-repair': 3, ' Exec-managerial': 4, ' Farming-fishing': 5, ' Handlers-cleaners': 6, ' Machine-op-inspct': 7, ' Other-service': 8, ' Priv-house-serv': 9, ' Prof-specialty': 10, ' Protective-serv': 11, ' Sales': 12, ' Tech-support': 13, ' Transport-moving': 14}, 'gender': {' Female': 0, ' Male': 1}, 'native-country': {' ?': 0, ' Cambodia': 1, ' Canada': 2, ' China': 3, ' Columbia': 4, ' Cuba': 5, ' Dominican-Republic': 6, ' Ecuador': 7, ' El-Salvador': 8, ' England': 9, ' France': 10, ' Germany': 11, ' Greece': 12, ' Guatemala': 13, ' Haiti': 14, ' Holand-Netherlands': 15, ' Honduras': 16, ' Hong': 17, ' Hungary': 18, ' India': 19, ' Iran': 20, ' Ireland': 21, ' Italy': 22, ' Jamaica': 23, ' Japan': 24, ' Laos': 25, ' Mexico': 26, ' Nicaragua': 27, ' Outlying-US(Guam-USVI-etc)': 28, ' Peru': 29, ' Philippines': 30, ' Poland': 31, ' Portugal': 32, ' Puerto-Rico': 33, ' Scotland': 34, ' South': 35, ' Taiwan': 36, ' Thailand': 37, ' Trinadad&Tobago': 38, ' United-States': 39, ' Vietnam': 40, ' Yugoslavia': 41}, 'income': {' <=50K': 0, ' >50K': 1}}

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [27]:
X = data.values[:, 0:12]
Y = data.values[:, 12]

In [35]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size = 0.3,random_state = 100)
dt_clf_gni = DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth = 5,min_samples_leaf = 5)
dt_clf_gni.fit(X_train,y_train)
y_pred_gini = dt_clf_gini.predict(X_test)


print("Decision Tree using Gini Index \n Accuracy is ",accuracy_score(y_test,y_pred_gini)*100)

ValueError: could not convert string to float: ' Husband'

In [38]:
<html>
<body>
    <h3>Income prediction</h3>
    <div>
        <form action="/result" method="post">
            <label for="age">Age</label>
            <input type="text" id="age" name="age">
            <br>
            <label for="w_class">Working Class</label>
            <select name="w_class" id="w_class">
                <option value="0">Federal-Government</option>
                <option value="1">Never Worked</option>
                <option value="2">Private</option>
                <option value="3">Self-Employed-Income</option>
                <option value="4">Self-Employed-not-Income</option>
                <option value="5">State-Government</option>
                <option value="6">Without-Pay</option>
            </select>
            <br>
            <label for="edu">Education</label>
            <select name="edu" id="edu">
                <option value="0">10th</option>
                <option value="1">11th</option>
                <option value="2">12th</option>
                <option value="3">1st-4th</option>
                <option value="4">5th-6th</option>
                <option value="5">7th-8th</option>
                <option value="6">9th</option>
                <option value="7">Assoc-Acdm</option>
                <option value="8">Assoc-voc</option>
                <option value="9">Bachelors</option>
                <option value="10">Doctorate</option>
                <option value="11">HS-Grad</option>
                <option value="12">Masters</option>
                <option value="13">Preschool</option>
                <option value="14">Prof-School</option>
                <option value="15">16-Some_College</option>
            </select>
            <br>
            <label for="marital_stat">Marital Status</label>
            <select name="marital_stat" id="marital_stat">
                <option value="0">Divorced</option>
                <option value="1">Married</option>
                <option value="2">Not Married</option>
            </select>
            <br>
            <label for="occup">Occupation</label>
            <select name="occup" id="occup">
                <option value="0">Adm-clerical</option>
                <option value="1">Armed-Forces</option>
                <option value="2">Craft-Repair</option>
                <option value="3">Exec-managerial</option>
                <option value="4">Farming-Fishing</option>
                <option value="5">Handlers-Cleaners</option>
                <option value="6">Mahine-op-inspect</option>
                <option value="7">Other-Service</option>
                <option value="8">Priv-house-serv</option>
                <option value="9">Prof-speciality</option>
                <option value="10">Protective-serv</option>
                <option value="11">Sales</option>
                <option value="12">Tech_support</option>
                <option value="13">Transport-moving</option>
            </select>
            <br>
            <label for="relation">Relationship</label>
            <select name="relation" id="relation">
                <option value="0">Husband</option>
                <option value="1">Not-in-Family</option>
                <option value="2">Other Relative</option>
                <option value="3">Own-Child</option>
                <option value="4">Unmarried</option>
                <option value="5">Wife</option>
            </select>
            <br>
            <label for="race">Race</label>
            <select name="race" id="race">
                <option value="0">Amer indian Eskimo</option>
                <option value="1">Asian pac Islander</option>
                <option value="2">Black</option>
                <option value="3">Other</option>
                <option value="4">White</option>
            </select>
            <br>
            <label for="gender">Gender</label>
            <select name="gender" id="gender">
                <option value="0">Female</option>
                <option value="1">Male</option>
            </select>
            <br>
            <label for="c_gain">Capital Gain</label>
            <input type="text" name="c_gain" id="c_gain">btw:[0-99999]
            <br>
            <label for="hours_per_week">Hours Per Week</label>
            <input type="text" name="hours_per_week" id="hours_per_week">btw:[1-99]
            <br>
            <label for="native-country">Native Country</label>
            <select name="native-country" id="native-country">
                <option value="0">Cambodia</option>
                <option value="1">Canada</option>
                <option value="2">China</option>
                <option value="3">Columbia</option>
                <option value="4">Cuba</option>
                <option value="5">Domician</option>
                <option value="6">Ecuador</option>
                <option value="7">El Salvadorr</option>
                <option value="8">England</option>
                <option value="9">France</option>
                <option value="10">Germany</option>
                <option value="11">Greece</option>
                <option value="12">Gautemala</option>
                <option value="13">Netherlands</option>
                <option value="14">Honduras</option>
                <option value="15">Hongkong</option>
                <option value="16">Hungary</option>
                <option value="17">India</option>
                <option value="18">Iran</option>
                <option value="18">Ireland</option>
                <option value="19">Italy</option>
                <option value="20">Jamaica</option>
                <option value="21">Japan</option>
                <option value="22">Laos</option>
                <option value="23">LaosMexico</option>
                <option value="24">Nicaragua</option>
                <option value="25">Outlying-US(Gaum-USVI-etc)</option>
                <option value="26">Peru</option>
                <option value="27">Philippines</option>
                <option value="28">Poland</option>
                <option value="29">Portugal</option>
                <option value="29">Puerto-Rico</option>
                <option value="30">Scotland</option>
                <option value="31">South</option>
                <option value="32">Taiwan</option>
                <option value="33">Thailand</option>
                <option value="34">Trinadas & Tobago</option>
                <option value="35">United States</option>
                <option value="36">Vietnam</option>
                <option value="37">Yugoslavia</option>
            </select>
            <br>
            <input type="submit" value="Submit">
            </form>
    </div>
</body>
</html>

SyntaxError: invalid syntax (<ipython-input-38-ad5345ccfaa5>, line 2)

In [39]:
from flask import*
app = Flask(__name__)

In [40]:
# prediction function
def ValuePredictor(to_predict_list):
    to_predict = np.array(to_predict_list).reshape(1,12)
    loaded_model = pickle.load(open("model.pki","rb"))
    result = loaded_model.predict(to_predict)
    return result[0]
@app.route('/result',methods = ['POST'])
def result():
    if request.method == 'POST':
        to_predict_list = request.form.to_dict()
        to_predict_list = list(to_predict_list.values())
        to_predict_list = list(map(int,to_predict_list))
        result = ValuePredictor(to_predict_list)
        if int(result) == 1:
            prediction = 'Income more than 50k'
        else:
            prediction = 'Income less than 50k'
        return render_template("result.html",prediction = prediction)
if __name__ == '__main__':
    app.run(debug = True)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Restarting with stat

SystemExit: 1